<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Simple Navbar</title>
</head>
<body>
    <nav>
        <ul class="navbar">
            
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="aaa">Home</a></li>
            <li><a href="bbb">Contact</a></li>
           
           
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <div class="mid">
      <h3>Welcome to home page</h3>
    </div>

    <footer>
      <p>&copy; 2023 Your Website Name. All rights reserved.</p>
  </footer>
</body>
</html>
